<% if logged_in? %>
  <div class="center jumbotron">
    <h1>Welcome to the TAMURAT</h1>
    <h2> This is the home page for the
      <a href="https://github.com/teamtreenewbee/TAMUART_new">Risk Assessment Tool</a>
      application.
    </h2>
    <h3>User Name: </h3>
    <h2><%= @user.name %></h2>
    <h3>User Login_id: </h3>
    <h2><%= @user.login_id %></h2>
    <h3>User Email: </h3>
    <h2><%= @user.email %></h2>
    <h3>User Role: </h3> 
    <h2><%= @user.role %></h2>
    <% if admin? && @j %>
      <div class="pending"><h3>You have new users to activate.</h3></div>
    <% end %>
  </div>
  
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the TAMURAT</h1>
    <h2> This is the home page for the
      <a href="https://github.com/teamtreenewbee/TAMUART_new">Risk Assessment Tool</a>
      application.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
