<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= gravatar_for @user %></h1>
    </section>
    <h1>User Name: </h1>
    <h2><%= @user.name %></h2>
    <h1>User Login_id: </h1>
    <h2><%= @user.login_id %></h2>
    <h1>User Role: </h1>
    <h2><%= @user.role %></h2>
  </aside>
  <%if company_representative?%>
    <%= render 'subcompany' %>
  <%end%>
</div>
