<% @result.each do |category, value| %>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href=#<%="collapse_category#{category.id}"%>>
          <%= category.name %>
          </br>
        </a>
      </h4>
    </div>
    <div id=<%="collapse_category#{category.id}"%> class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">
          <% value.each do |subcat, questions| %>
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" href=<%="#collapse_subcategory#{subcat.id}"%>>
                    <%=subcat.name %>
                  </a>
                </h4>
              </div>
              <div id=<%="collapse_subcategory#{subcat.id}"%> class="panel-collapse collapse">
              <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">Name</th>
                  <th scope="col">Status</th>
                  <th scope="col">Detail</th>
                  <th scope="col">Operation</th>
                </tr>
              </thead>
                <tbody>
                  <% questions.each do |question| %>
                  <tr>

                    <th scope="row"><%=question.id%></th>
                    <td><%=question.name%></td>
                    
                    <td> 
                      <% if !answered?(question.id, @company_id) %>
                        Not Answered
                      <% elsif !validated?(question.id, @company_id) %>
                        Not Validated
                      <% else %>
                        Validated
                      <% end %>
                    </td>
                    <td>
                      <% if !answered?(question.id, @company_id) %>
                        Not Answered
                      <% else %>
                        <% id = get_answer_id(question.id, @company_id) %>
                        <%= link_to "Detail", answer_url(id: id, question_id: question.id) %>
                      <% end %>
                    </td>
                    <td>
                      <% if company_representative?%>
                        <% if !answered?(question.id, @company_id) %>
                          <%= link_to "Answer this question", new_answer_url({question_id: question.id, company_id: @company_id}) %>
                        <% else %>
                          <% id = get_answer_id(question.id, @company_id) %>
                          <%= link_to "Edit your answer", edit_answer_url(id: id, question_id: question.id) %>
                        <% end %>
                      <% elsif validator?%>
                        <% if !answered?(question.id, @company_id) %>
                          Not Answered.
                        <% else %>
                          
                          <% id = get_answer_id(question.id, @company_id) %>
                          <%= link_to "Validate this answer", edit_answer_url(id: id, question_id: question.id) %>
                          
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              </div>
            </div>
          </div>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<% end %>