<% provide(:title, 'Company overview') %>
<table class="table table-hover", style="text-align:center;">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Name</th>
      <th scope="col">Finalization</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <th scope="row"><%= company.id%></th>
      <td><%= get_company_name(company)%></td>
      <td>
        <%=form_tag company_path(company.id), :method => :put do %>
        <%=select_tag :validated, options_for_select([true, false], company.validated == true), class: "short-input"%>
        <%=submit_tag 'Finalize', class: "short-input"%>
        <% end %>
      </td>
      <td>
        <%= link_to "Validate", answers_path(:company_id => company.id)%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
