<li id="scenario-<%= scenario.id %>">
  <%= link_to gravatar_for(scenario.user, size: 50), scenario.user %>
  
  <span class="name"><%= link_to scenario.name, scenario_url(scenario.id) %></span>
  <span class="description"><%= scenario.description %></span>
 
  
  
  <span class="timestamp">
    Posted <%= time_ago_in_words(scenario.created_at) %> ago.
    <% if admin? %>
      <%= link_to "delete", scenario, method: :delete,
      data: { confirm: "You sure?" } %>
    <% end %>
    
    
    <%= link_to "edit", edit_scenario_url(scenario.id)%>
    
    
    <% if admin? %>
      <%= link_to "assign", scenario_url(scenario.id)%>
      
    <% end %>
    
    
    
    
  </span>
</li>

