<li id="scenario-<%= scenario.id %>">
<%= link_to gravatar_for(scenario.user, size: 50), scenario.user %>
<span class="user"><%= link_to scenario.user.name, scenario.user %></span>
<span class="name"><%= scenario.name %></span>
<span class="description"><%= scenario.description %></span>
<span class="timestamp">
Posted <%= time_ago_in_words(scenario.created_at) %> ago.
</span>
</li>