
<tr>
  <td><%= link_to scenario.name, scenario_url(scenario.id) %></td>
  <td><%= scenario.description %></td>
  <td>Posted <%= time_ago_in_words(scenario.created_at) %> ago</td>
  <td><%= scenario.score.round(5) %></td>
  <% if admin? %>
    <td>
      <%= button_to "delete", scenario, method: :delete, data: { confirm: "You sure?" } %>
    </td>
    <td>
      <%= button_to "assign", privileges_url, params: {scenario_id: scenario.id}, method: :get %>
    </td>
  <% end %>
  <td>
    <%= button_to 'Edit', edit_scenario_url(scenario.id), method: :get %>
  </td>
</tr>
