<!DOCTYPE html>
<html>
  <%# javascript_include_tag "collapse.js" %>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
        <%#= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
   
<script type="text/javascript">

$(".panel .panel-collapse").on('shown.bs.collapse', function (e)
{
  if($(this).is(e.target)) {
    var active = $(this).attr('id');
    var panels= localStorage.panels === undefined ? new Array() : JSON.parse(localStorage.panels);
    if ($.inArray(active,panels)==-1) //check that the element is not in the array
        panels.push(active);
    localStorage.panels=JSON.stringify(panels);
  }
});

$(".panel .panel-collapse").on('hidden.bs.collapse', function (e)
{
  if($(this).is(e.target)) {
    var active = $(this).attr('id');
    var panels= localStorage.panels === undefined ? new Array() : JSON.parse(localStorage.panels);
    var elementIndex=$.inArray(active, panels);
    
    if (elementIndex!==-1) //check the array
    {        
      panels.splice(elementIndex,1); //remove item from array
    }
    localStorage.panels=JSON.stringify(panels); //save array on localStorage
  }
});

var panels=localStorage.panels === undefined ? new Array() : JSON.parse(localStorage.panels); //get all panels
  for (var i in panels){ //<-- panel is the name of the cookie
    if ($("#"+panels[i]).hasClass('panel-collapse')) // check if this is a panel
    {
      $("#"+panels[i]).collapse("show");
    }
  }
</script>
  
 
</html>
